$bcg-color: #000;
$font-family: "FuturicaLt", san-serif;
$font-size: 25px;
$font-color: #fff;
.container-main-failure{
  display: flex;
  justify-content: center;
  align-items: center;
  .failure-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    width: 60%;
    .failure-image{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding-bottom: 30px;
      img{
        max-height: 300px;
      }
    }
    .failure-text{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-family;
        font-size: $font-size;
        color:$font-color;
      }
    }
  }
}
@font-face {
  font-family: FuturicaLt;
  src: url(../font/a_FuturicaLt-Thin_2302.ttf);
}
@media (min-width: 320px) and (max-width: 480px){
  .container-main-failure{
    padding-left: 5px;
    padding-right: 5px;
    .failure-main{
      width: 100%;
      .failure-image{
        img{
          max-height: 100px;
        }
      }
      .failure-text{
        text-align: center;
        p{
          font-size: 16px;
        }


      }
    }
  }


}
