$bcg-color: #000;
$font-family: "FuturicaLt", san-serif;
$font-size: 38px;
$font-color: #fff;
$container-padding: 60px;
$font-size-mobile: 20px;

.header-redaction{
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  .help{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      font-weight: normal;
      font-family: $font-family;
      font-size: $font-size;
      color:$font-color;
    }
  }
}
@font-face {
  font-family: FuturicaLt;
  src: url(../font/a_FuturicaLt-Thin_2302.ttf);
}
@media (min-width: 320px) and (max-width: 480px) {
  .header-redaction{
    padding-top: 5px;
    .help{
      justify-content: center;
      h1{
        font-weight: normal;
        font-size: 25px;
      }
    }
  }
}