.container-main-failure
    .failure-main
        .failure-image
            img(src="img/error.png")
        .failure-text
            p Произошел сбой оплаты. Обратитесь в службу поддержки по номеру: +79008003344!