.container-main-account
    .account-main
        .prof-pic
            .profile-image
                img(src="img/profpic.png")
            .shadow
            p Иванов Александр
                br
                | Алексеевич
        .prof-settings
            div
                .edit-img
                a(href="redaction.html") Редактировать учетную запись
            div
                .plus-img
                a(href="#") Подписка
            div
                .exit-img
                a(href="#") Выход