.container-main
    .main-buy
        a(href="#") i
        .icon-div
            img(src="img/icon.svg")
        .text-div
            p Мой телохранитель
            .button-div
                form
                    button
                        p 500 Руб.
                        p 1 месяц
                    button
                        p 6000 Руб.
                        p 1 год