.container-main-help
    .main-help
        p Как подключить услугу?
        p Наша контактная информация
        p Где я не могу пользоваться программой?
        p Сколько стоит подписка и вызов?
        input(type="text" placeholder="Оставшиеся вопросы...")