.container-main-call
    .answer-section
        button.accordion 03 августа,в 6:32
            br
            | ул. Долгопрудного, дом 26
            img(class ='rotate' src='img/dropdown.svg')
        .panel
            p Координаты: 162.00, 186.32
            p Вызов завершен
        button.accordion 02 августа, в 12:32
            br
            | ул. Долгопрудного, дом 26
            img(class ='rotate' src='img/dropdown.svg')
        .panel
            p Координаты: 162.00, 186.32
            p Вызов завершен
        button.accordion 01 августа, в 18:32
            br
            | ул. Долгопрудного, дом 26
            img(class ='rotate' src='img/dropdown.svg')
        .panel
            p Координаты: 162.00, 186.32
            p Вызов завершен
        button.accordion 01 августа, в 19:32
            br
            | ул. Долгопрудного, дом 26
            img(class ='rotate' src='img/dropdown.svg')
        .panel
            p Координаты: 162.00, 186.32
            p Вызов завершен
        button.accordion 01 августа, в 20:32
            br
            | ул. Долгопрудного, дом 26
            img(class ='rotate' src='img/dropdown.svg')
        .panel
            p Координаты: 162.00, 186.32
            p Вызов завершен
script(src="scripts/script.js")