.container-main
    .main-buy
        a(href="#") i
        .icon-div
            img(src="img/icon.svg")
        .text-div
            p Я в безопасности
            .button-div
                form
                    button
                        p 500 Руб.
                        p 1 месяц
                form
                    button
                        p 6000 Руб.
                        p 1 год
                form
                    button
                        p 5000 Руб.
                        p 1 год
                form
                    button
                        p 4000 Руб.
                        p 1 год
                form
                    button
                        p 3000 Руб.
                        p 1 год
                form
                    button
                        p 2000 Руб.
                        p 1 год