.container-main-redaction
    .redaction-main
        a(href="#").prof-pic-redaction
            .profile-image-redaction
                img(src="img/profpic.png")
        .prof-settings-redaction
            .first-redaction
                input(type="text" placeholder="Редактировать Имя")
            .second-redaction
                input(type="text" placeholder="Редактировать Фамилия")
            .third-redaction
                input(type="text" placeholder="Редактировать Отчество")