.container-main-setting
    .setting-main
        label.label
            p Включить геопозицию
            .toggle
                input.toggle-state(type='checkbox' name='check' value='check')
                .toggle-inner
                    .indicator
                .active-bg
        label.label
            p Уведомления
            .toggle
                input.toggle-state(type='checkbox' name='check' value='check')
                .toggle-inner
                    .indicator
                .active-bg
        label.label
            p Автоматическое продление подписки
            .toggle
                input.toggle-state(type='checkbox' name='check' value='check')
                .toggle-inner
                    .indicator
                .active-bg
        label.label
            p Защита паролем
            .toggle
                input.toggle-state(type='checkbox' name='check' value='check')
                .toggle-inner
                    .indicator
                .active-bg




