.container-main-success
    .success-main
        .success-image
            img(src="img/suc.png")
        .success-text
            p Оплата подписки прошла успешно. В дальнейшем ваша подписка будет автоматически продлятся каждый месяц.Для того, что бы отказаться от продления, вам нужно как минимум за один день до продления отказаться от подписки в личном кабинете.